<network>
  <name>${NET_NAME}</name>
  <uuid>${NET_UUID}</uuid>
  <forward mode='nat'/>
  <bridge name='${NET_BRIDGE_NAME}' stp='on' delay='0'/>
  <mtu size='1500'/>
  <mac address='${NET_MAC}'/>
  <domain name='${BASE_DOMAIN}' localOnly='yes'/>
  <dns enable='yes'/>
  <ip family='${NET_TYPE}' address='${NET_ADDRESS}' prefix='${NET_MASK}'>
    <dhcp>
      <range start='${NET_RANGE_START}' end='${NET_RANGE_END}'/>
    </dhcp>
  </ip>
</network>

